@media (min-width: 769px) and (max-width: 1024px) {
  .container_header {
    padding: 16px 64px;
  }

  .home_title {
    font-size: 1.8rem;
  }

  .hero-bg {
    height: 100vh;
  }

  .sobre-nos-container {
    flex-direction: column;
    margin: 5rem 0 7rem 0;
  }

  .sobre-nos-item {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sobre-nos-item h2 {
    font-size: 1.7rem;
    max-width: 50rem;
  }

  .sobre-nos-item p {
    font-size: 1.1rem;
    max-width: 50rem;
  }

  .sobre-nos-item img {
    width: 40rem;
    margin: -5rem;
  }

  .service-card {
    max-width: 35%;
  }

  .footer-text h2 {
    left: 3rem;
    max-width: 25rem;
  }

  .footer-text p {
    left: 3rem;
    max-width: 25rem;
  }

  .form form {
    margin-right: 0;
  }
}

@media (min-width: 646px) and (max-width: 768px) {
  nav {
    display: none;
  }

  .container_header {
    padding: 16px 32px;
    overflow: hidden;
  }

  .hero-bg {
    background-position: right;
    overflow: hidden;
  }

  .mobile-nav {
    margin-right: 35px;
  }

  .hero-title,
  .hero-button {
    left: 2rem;
  }

  .hero-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .hero-title h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-button {
    font-size: 1.2rem;
    padding: 1.2rem;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-button:hover {
    transform: translate(-50%, -50%);
  }

  .sobre-nos-container {
    flex-direction: column;
    margin: 2rem 0 7rem 0;
  }

  .sobre-nos-item {
    width: 100%;
  }

  .sobre-nos-item img {
    width: 100%;
    margin: 0 auto -5rem;
  }

  .sobre-nos-item h2 {
    font-size: 1.6rem;
    margin: 2rem 0;
    text-align: center;
  }

  .sobre-nos-item p {
    width: 80%;
    font-size: 1.2rem;
    text-align: left;
    margin: 0 auto;
  }

  .card {
    flex-basis: 38rem;
    max-width: 90%;
  }

  .card img {
    height: 100%;
  }

  .cards-container {
    flex-direction: column;
  }

  #services {
    margin: 7rem 0;
  }

  .service-card {
    max-width: 60%;
  }

  .heading {
    font-size: 2.1rem;
    width: 80%;
    margin: 0 auto 1rem;
  }

  .buttons-section {
    margin: 2rem 15rem;
  }

  .team {
    margin: 7rem 0 5rem 0;
  }

  .footer-area {
    flex-direction: column;
  }

  .footer-text {
    padding: 5rem 0;
  }

  .footer-text h2 {
    position: static;
    font-size: 1.7rem;
    margin: 2rem auto;
    width: 90%;
    text-align: center;
  }

  .footer-text p {
    position: static;
    font-size: 1.1rem;
    margin: 0 auto;
    width: 90%;
    text-align: center;

  }

  .form {
    margin-right: 4.5rem;
  }

  .footer-text p,
  .footer-text h2 {
    left: 0;
  }

  .footer-end p {
    width: 50%;
    font-size: 1rem;
    text-align: center;
    padding-left: 3rem;
  }

  .social-links a {
    margin: 0 3px;
  }

  footer {
    background: linear-gradient(to bottom, rgba(13, 14, 13, 1), rgba(0, 35, 54, 1));
    background-size: cover;
    overflow: hidden;
  }

  .back_to_top {
    bottom: 90px;
  }
}

@media (min-width: 780px) {
  nav {
    margin-right: 20px;
  }

  .mobile-nav {
    display: none;
    margin-right: 35px;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 645px) {
  nav {
    display: none;
  }

  .container_header {
    padding: 32px 60px;
  }

  .container_header .nav-logo {
    width: 40px;
  }

  .hamburger {
    width: 40px;
  }

  .hero-bg {
    background-position: right;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .hero-title h1 {
    font-size: 2.3rem;
    text-align: center;
  }

  .hero-button {
    font-size: 1.2rem;
    padding: 1.2rem;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-button:hover {
    transform: translate(-50%, -50%);
  }

  .sobre-nos-container {
    flex-direction: column;
    margin: 0 auto 5rem;
  }

  .sobre-nos-item {
    width: 100%;
    text-align: center;
  }

  .sobre-nos-item h2 {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .sobre-nos-item p {
    width: 80%;
    font-size: 1.1rem;
    text-align: left;
    margin: 0 auto;
  }

  .sobre-nos-item img {
    width: 100%;
    margin: 0 auto -4rem;
  }

  .heading {
    font-size: 2rem;
    width: 80%;
    text-align: center;
    margin: 2rem auto;
  }

  .cards-container {
    flex-direction: column;
  }

  .service-card {
    max-width: 55%;
  }

  .buttons-section {
    margin: auto;
    margin-bottom: 5rem;
    font-size: 1rem;
  }

  .cards-section {
    margin: 0 auto;
  }

  .card {
    flex-basis: 30rem;
    max-width: 90%;
  }

  .card img {
    height: 100%;
    margin: auto;
  }

  .team {
    margin: 5rem 0 5rem 0;
  }

  .footer-area {
    flex-direction: column;
  }

  .footer-text {
    margin-bottom: 5rem;
  }

  .footer-text h2 {
    position: static;
    font-size: 1.7rem;
    margin: 2rem auto;
    width: 70%;
  }

  .footer-text p {
    position: static;
    font-size: 1.1rem;
    margin: 0 auto;
    width: 70%;
  }

  .form form {
    max-width: 80%;
    margin: 0 auto;
  }

  .footer-end img {
    width: 45px;
    margin-left: 1rem;
  }

  .social-links a {
    width: 30px;
    height: 30px;
    line-height: 35px;
    margin: 0px 2px;
  }

  .social-links {
    margin-right: 10px;
  }

  .footer-end {
    gap: 1rem;
  }

  .footer-end p {
    width: 50%;
    font-size: 0.8rem;
    text-align: center;
    padding-left: 3rem;
  }

  footer {
    background: linear-gradient(to bottom, rgba(13, 14, 13, 1), rgba(0, 35, 54, 1));
    background-size: cover;
    overflow: hidden;
  }

  .back_to_top {
    bottom: 90px;
  }
}

@media (max-width: 425px) {
  nav {
    display: none;
  }

  .container_header {
    padding: 16px 64px;
  }

  .container_header img {
    width: 40px;
  }

  .hamburger {
    width: 40px;
  }

  .hero-bg {
    background-position: right;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    top: 50%;
    left: auto;
    text-align: center;
  }

  .hero-title h1 {
    font-size: 1.5rem;
  }

  button.hero-button {
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem;
    font-size: 1rem;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    width: 12rem;
  }

  button.hero-button:hover {
    transform: translate(-50%, -50%);
  }

  .sobre-nos-container {
    margin: 0 auto 5rem;
    flex-direction: column;
  }

  .sobre-nos-item {
    width: 100%;
    text-align: center;
  }

  .sobre-nos-item img {
    width: 100%;
    margin: 0 auto -2rem;
  }

  .sobre-nos-item p {
    margin: 0 auto;
    max-width: 20rem;
    text-align: center;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.2rem;
    padding: 1.5rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  .service-card {
    max-width: 75%;
  }

  .card-text {
    max-width: 100%;
    text-align: center;
  }

  .buttons-section {
    margin: auto;
    margin-bottom: 5rem;
    font-size: 1rem;
  }

  .cards-section {
    margin: auto;
  }

  .card {
    flex-basis: 25rem;
  }

  .card img {
    height: 20rem;
  }

  .team {
    margin: 5rem 0 5rem 0;
  }

  .team_div {
    padding: 2rem;
    margin: auto;
  }

  .footer-area {
    flex-direction: column;
  }

  .footer-end img {
    width: 30px;
    margin-left: 10px;
  }

  .social-links a {
    width: 30px;
    height: 30px;
    line-height: 35px;
    margin: 0px 2px;
  }

  .social-links {
    margin-right: 10px;
  }

  .footer-text {
    margin-bottom: 5rem;
    max-width: 70%;
  }

  .footer-text h2 {
    position: static;
    margin: 0 auto;
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .footer-text p {
    font-size: 1rem;
    position: static;
    margin: auto;
    width: 90%;
  }

  .form form {
    width: 80%;
  }

  footer {
    background: linear-gradient(to bottom, rgba(13, 14, 13, 1), rgba(0, 35, 54, 1));
    background-size: cover;
    overflow: hidden;
  }

  .back_to_top {
    bottom: 90px;
  }

  .footer-end {
    gap: 1rem;
  }

  .footer-end p {
    width: 10rem;
    font-size: 0.7rem;
  }

  .form {
    width: 300px;
  }

  #services {
    margin: auto;
  }

  .cards-section {
    width: 90%;
  }

  .card img {
    width: 100%;
    object-fit: contain;
  }
}

/* KEYFRAME */

@keyframes myAnim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes feadIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
