@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  background-color: var(--cor-preto2);
  color: var(--cor-branco);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

:root {
  --cor-branco: #f4f4f4;
  --cor-branco2: hsl(0, 0%, 99%);
  --cor-cinza: #d0d0d0;
  --cor-preto: #161716;
  --cor-preto2: #0d0e0d;
  --cor-azul-claro: #029fa6;
  --cor-azul-médio: #154c62;
  --cor-azul-escuro: #002336;
  --container: 120rem;
  --primary: hsl(201.43, 13.21%, 58.43%);
  --container2: 112rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 100, 100, 100),
      rgba(0, 0, 0, 0));
}

.aparecer {
  opacity: 0; 
  transform: translateY(60px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.aparecer.aparecer-ativo {
  opacity: 1; 
  transform: translateY(0); 
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  padding: 32px 128px;
  margin: 0 auto;
}

.container_header img {
  width: 60px;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

nav a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}

nav a:hover {
  color: var(--cor-azul-claro);
}

nav.menu-flex a:last-child {
  margin-right: 0;
}

.scroll {
  background-color: var(--cor-preto2);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.835);
}

.scroll .container_header {
  padding: 16px 48px;
  transition: ease 0.7s;
}

.hamburger {
  position: relative;
  display: block;
  width: 50px;
  cursor: pointer;
  background: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--cor-branco);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-7px, 5px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -7px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #002336;
  padding-top: 120px;
  transition: 0.5s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 0 auto 16px;
  padding: 12px 16px;
  background-color: var(--cor-azul-médio);
  color: var(--cor-branco);
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: var(--cor-azul-claro);
}

.hero-bg {
  position: relative;
  background-image: url(../img/rocket.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  max-width: 100%;
}

.hero-bg::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-title {
  position: absolute;
  top: 40%;
  left: 5rem;
  transform: translateY(-50%);
  z-index: 2;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--cor-preto);
  
}

.hero-title strong {
  color: var(--cor-azul-claro);
}

.fead-in {
  animation: feadIn 7s forwards;
}


.hero-button {
  background-image: radial-gradient(100% 100% at 100% 0, var(--cor-azul-claro) 0, var(--cor-azul-médio) 100%);
  background-image: linear-gradient(180deg, var(--cor-azul-claro), var(--cor-azul-médio));
  position: absolute;
  top: 60%;
  left: 5rem;
  max-width: 16rem;
  z-index: 3;
  color: var(--cor-branco);
  font-weight: 500;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  padding: 1.5rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: transform .7s ease, box-shadow .7s ease;
  opacity: 1;
}

.hero-button:hover {
  box-shadow: var(--cor-azul-médio) 0 2px 5px;
  transform: scale(0.9);
}

hr {
  opacity: 0.2;
}

/*MAIN SECTION*/

.sobre-nos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-nos-item {
  width: 50%;
  height: 100%;
  text-align: justify;
}

.sobre-nos-item img {
  object-fit: cover;
  overflow: hidden;
}

.sobre-nos-item h2 {
  text-transform: uppercase;
  color: var(--cor-azul-claro);
  font-size: 2rem; 
  max-width: 50rem;
}

.sobre-nos-item p {
  max-width: 50rem;
  font-size: 1.2rem;
}

.sobre-nos-item img.animated-image {
  animation: myAnim 3s linear infinite;
}

strong {
  color: var(--cor-azul-claro);
}

/* SERVIÇOS */

#services {
  margin: 5rem 0;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-branco);
  max-width: 25%;
  max-height: auto;
  margin: 1rem;
  padding: 1rem;
  padding: 2rem;
  font-size: 1rem;
  transition: background-color 0.7s ease-in-out;
  border-radius: 1rem;
}

.service-card:is(:hover, :focus-within) {
  background-color: var(--cor-azul-médio);
}

.service-card:is(:hover, :focus-within) .card-title,
.service-card:is(:hover, :focus-within) .card-text,
.service-card:is(:hover, :focus-within) .card-icon ion-icon {
  color: var(--cor-branco);
}

.card-icon ion-icon {
  color: var(--cor-preto);
  font-size: 6rem;
}

.card-title {
  color: var(--cor-preto);
  margin-block: 20px;
}

.card-text {
  color: var(--cor-preto);
  max-width: 70%;
  font-weight: 500;
  font-size: 1.05rem;
}


/*SECTION PORTIFÓLIO*/

.container-portfolio {
  width: 100%;
  margin: 7rem 0;
}

.buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 3rem 0;
}

button.filter-button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  background-attachment: var(--cor-branco);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.active-portfolio {
  color: var(--cor-branco);
  background-color: var(--cor-azul-médio);
}

button.card-button {
  border-radius: 0.5rem;
  border: 1px solid var(--cor-branco);
  cursor: pointer;
  padding: 0.7rem 0.8rem;
  margin: 1.2rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--cor-branco);
  background-color: transparent;
}

button.card-button:hover {
  background-color: var(--cor-azul-claro);
  color: var(--cor-branco);
  border: 1px solid var(--cor-preto);
}

button.card-button a {
  text-decoration: none;
}

.heading {
  margin: 0 0 3rem 0;
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
  position: relative;
  color: var(--cor-branco);
  text-transform: uppercase;
  text-align: center;
}

.heading strong {
  word-wrap: break-word;
}

.cards-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  cursor: pointer;
}

.card {
  flex-basis: 40rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
  background-color: var(--cor-preto);
  border-radius: 1rem;
}

.hide {
  display: none;
}

.card img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
}

/* TEAM */

.team {
  width: 100%;
  height: auto;
  margin: 5rem 0 10rem 0;
}

.team_div {
  padding: 2rem 0;
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.team_box {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/thales.png);
  background-size: 150% cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: .5rem;
  flex-wrap: wrap;
  width: 100%;
  transition: ease-in-out .5s all;
}

.team_box:nth-child(2) {
  background-image: url(../img/lucas.jpg);
  background-position: center top;
  background-size: cover;
}

.team_box:nth-child(3) {
  background-image: url(../img/inarai.jpg);
  background-position: center;
  background-size: cover;
}

.team_box:nth-child(4) {
  background-image: url(../img/cinthia.png);
  background-position: center;
  background-size: cover;
}

.team_box:hover .team_content_box {
  opacity: 1;
  cursor: pointer;
}

.team_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team_heading {
  width: 70%;
}

.team_description {
  max-width: 70%;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0;
  color: var(--cor-branco);
  font-weight: 600;
  transition: .5s;
  transform: translateY(30px);
  opacity: 0;
}

.team_social {
  display: flex;
}

.down,
.top {
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
  margin-top: 30%;
  transition: 1s;
  border: none;
}

.team_box1 .top {
  transform: translateY(-50px);
}

.team_box1:hover .top {
  transform: translateY(0px);
  border: none;
}

.team_box1 .down {
  transform: translateY(50px);
}

.team_box1:hover .down {
  transform: translateY(0px);
  border: none;
}

.team_content_box {
  width: 100%;
  height: 100%;
  background: #161716ec;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: ease-in-out .5s all;
}

.team_content_box h2 {
  color: var(--cor-branco);
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  transition: .5s;
  transform: translateY(-30px);
  opacity: 0;
}

.team_content_box:hover h2 {
  transform: translateY(0px);
  opacity: 1;
}

.team_content_box hr {
  width: 30%;
  border: 1px solid var(--cor-azul-claro);
  margin: 20px 0 0 0;
  transition: .5s;
  opacity: 0;
}

.team_content_box:hover hr {
  opacity: 1;
}

.team_content_box:hover p {
  transform: translateY(0px);
  opacity: 1;
}

.team_content_box ion-icon {
  font-size: 30px;
  padding: 10px;
  margin-top: 10px;
  color: var(--cor-branco);
  display: flex;
  flex-direction: row;
}

.team_content_box ion-icon:hover {
  border: 1px solid var(--cor-azul-médio);
  background: var(--cor-azul-médio);
}

/* FOOTER */

.back_to_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  background: var(--cor-branco);
  border-radius: 0.4rem;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 0 0.2rem rgb(231, 231, 231);
  transition: all 0.2s ease-in-out;
  transform: translateY(-30rem);
}

ion-icon {
  color: var(--cor-azul-médio);
  font-size: 40px;
}

.back_to_top.show {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transform: translateY(0rem);
}

footer {
  height: 100%;
  background-image: url(../img/Rectangle-footer.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

.footer-text {
  position: relative;
}

.footer-text h2 {
  max-width: 30rem;
  font-size: 2rem;
  position: relative;
  left: 12rem;
  color: var(--cor-azul-claro);
}

.footer-text p {
  position: relative;
  left: 12rem;
  max-width: 40rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.footer-area {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin: 3rem auto;
  align-items: center;
}

/*FORMULÁRIO*/

.form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-preto);
  padding: 2rem;
  border-radius: 1.5rem;
  height: 30rem;
  margin-right: 8rem;
}

form input {
  width: 95%;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  color: var(--cor-preto);
  font-size: 1rem;
}

form .text {
  height: 5rem;
}

form button {
  width: 100%;
  margin: 1rem auto;
  padding: 1.1rem;
  background-color: var(--cor-azul-claro);
  color: var(--cor-branco);
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
}

form button:hover {
  background-color: var(--cor-azul-médio);
  color: var(--cor-azul-claro);
}

/*CHECKBOX*/
.checkbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.checkbox input {
  width: 1rem;
  margin-right: 1rem;
}

.checkbox p {
  font-size: 0.8rem;
}

.checkbox p a {
  color: var(--cor-azul-claro);
}

.footer-end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.footer-end img {
  width: 60px;
}

.social-links {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.social-links a {
  text-decoration: none;
  background-color: var(--cor-branco);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  color: var(--cor-azul-escuro);
}

.social-links a:hover {
  background-color: #3b5998;
  color: var(--cor-branco);
}

.social-links .social-icons:nth-child(2) a:hover {
  background-color: #d82e7e;
  color: var(--cor-branco);
}

.social-links .social-icons:nth-child(3) a:hover {
  background-color: #0e76a8;
  color: var(--cor-branco);
}